%nav.navbar.navbar-inverse{:role=>"navigation"}
  .container
    %ul.nav.navbar-nav
      - if params[:locale] == 'zh'
        %li
          %a{href: "/?locale=en"}
            English
        
        %li.active
          %a{href: "/?locale=zh"} 中文
      - else
        %li.active
          %a{href: "/?locale=en"}
            English

        %li
          %a{href: "/?locale=zh"}
            = t('Chinese')
