%nav.navbar.navbar-inverse.navbar-static-top{:role=>"navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: '/'}
        New Crunch Base
    %ul.nav.navbar-nav
      - if params[:locale] == 'en'
        %li.active
          %a{href: "/?locale=en"}
            English
        
        %li
          %a{href: "/?locale=zh"}
            Chinese
      - else
        %li
          %a{href: "/?locale=en"}
            English

        %li.active
          %a{href: "/?locale=zh"}
            Chinese
    
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "/"}
          Sign Up
      %li
        %a{href: "/"}
          Log In

.container
  .category-container
    .category-inner-block
      - Category.all.each do |cat| 
        %span.cat
          = link_to t(cat.name), action: :list 
          /
            %br
            %span.entries
              = number_with_delimiter(cat.entries)
  
  .row.company-search
    .col-md-6.col-md-offset-2
      %input.form-control{type: :search, placeholder: 'Search for Company'}
    .col-md-1
      %button.btn.btn-primary{type: :button} Search
    .col-md-1
      %button.btn.btn-success{type: :button} Create a Company
  
  .main-content
    = yield :main_content
