%nav.navbar.navbar-default.navbar-static-top{:role=>"navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: '#'}
        Crunch Base
    %ul.nav.navbar-nav
      %li.active
        %a{href: "#"}
          English
      %li
        %a{href: "#"}
          Chinese
    
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "#"}
          Sign Up
      %li
        %a{href: "#"}
          Log In

%nav.navbar.navbar-default.navbar-fixed-bottom{:role=>"navigation"}
  .container
    %ul.nav.navbar-nav
      %li.active
        %a{href: "#"}
          English
      %li
        %a{href: "#"}
          Chinese
 
