/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

span.cat {
  display: inline-block;
  margin: 5px 15px 20px 0px;
  font-size: 14px;
  cursor: pointer;
  @extend .label;
  @extend .label-info;
  background-color: #428bca;
  padding: 20px;
  span.entries {
    font-size: 11px;
    margin-top: 15px;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
.category-container {
  text-align: center;
  width: 100%;
  .category-inner-block {
    display: inline-block;
  }
}
.sector-cont {
  .list-group-item {
    padding: 5px 15px;
  }
}
.news-cont {
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
.company-search {
  margin-top: 20px;
}
.sectors {
  table {
    td {
      .alert {
        width: 150px;
        text-align: center;
        cursor: pointer;
      }
      border-top: 0 !important;
    }
    margin-bottom: 0px;
  }
  margin-bottom: 10px;
}
.main-content {
  margin-top: 45px;
}
table.sectors {
  a {
    color: #3c763d;
    &:hover {
      text-decoration: none;
    }
  }
}
table.companies {
  td {
    width: 50%;
    border-top: 0px !important;
  }
  .comp-cont {
    .c-picture {
      img {
        width: 100%;
      }
    }
    .caption {
      padding-left: 20px;
      border-top: 1px solid #ccc;
      .c-info {
        a {
          padding: 20px 5px 0 0;
          float: right;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .c-name {
      height: 50px;
      overflow: hidden;
      margin-bottom: 7px;
    }
    .c-info {
      height: 40px;
      overflow: hidden;
      margin-bottom: 5px;
    }
    border: 1px solid #ccc;
  }
}
